---
layout: default
---

<h3 class="fw-bold border-bottom pb-3 mb-3">Aerodynamics</h3>
<p><img src="{{ site.baseurl }}/assets/img/tr17_wake.jpg" alt="" width="100%"></p>

<p>
  In 2018-2019 I was the aerodynamics lead of <a href="http://www.tjuracing.com/files/Team%20Introduction.pdf"
    target="_blank" rel="noopener">TJU Racing</a>. For the team I reformed the general aero & cooling layout,
  improved CFD accuracy, settled scripts and templates for efficient design workflow, and explored various
  optimization techniques, most of which are still in use today.
</p>

<div class="row mb-5">
  <div class="col-sm-6">
    <img src="{{ site.baseurl }}/assets/img/tr18.jpg" data-toggle="modal" data-target="#exampleModal"
      data-img="{{ site.baseurl }}/assets/img/tr18.jpg" alt="" width="100%" class="hover-shadow">
    <div class="worktitle">
      TJU Racing TR18
    </div>
    <p class="paragraph">
      820 N downforce @ 20 m/s <strong>(30% increase over TR17)</strong>
    </p>
  </div>
  <div class="col-sm-6">
    <img src="{{ site.baseurl }}/assets/img/tr19.jpg" data-toggle="modal" data-target="#exampleModal"
      data-img="{{ site.baseurl }}/assets/img/tr19.jpg" alt="" width="100%" class="hover-shadow">
    <div class="worktitle">
      TJU Racing TR19
    </div>
    <p class="paragraph">
      910 N downforce @ 20 m/s<br>
      <strong>Best aerodynamics award, FSAE Japan 2019</strong><br>
      <strong>1st place overall, FSAE China 2019</strong>
    </p>
  </div>
</div>

<h3 class="fw-bold border-bottom pb-3 mb-3">Design & Digital Art</h3>
<p><img src="{{ site.baseurl }}/assets/img/p1_00.jpg" alt="" width="100%"></p>

<div class="worktitle">
  2016 McLaren P1 Omega
</div>
<p class="paragraph" style="margin-bottom: 10px">
  Original design, 3D modeling, rendering, game modding
</p>
<div class="btn-links" style="margin-bottom: 1.5rem">
  <a class="btn btn-outline-primary btn-sm" href="https://www.artstation.com/artwork/GYoyV" target="_blank"
    rel="noopener">
    ArtStation
  </a>
</div>

<div class="card-columns mb-5">

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_01.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_01.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_02.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_02.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_03.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_03.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_04.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_04.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_05.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_05.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_12.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_12.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_06.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_06.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_07.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_07.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_08.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_08.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_09.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_09.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/p1_11.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/p1_11.jpg" class="hover-shadow">
  </div>

</div>

<h3 class="fw-bold border-bottom pb-3 mb-3">Photography</h3>
<p><img src="{{ site.baseurl }}/assets/img/foto_00.jpg" alt="" width="100%"></p>

<div class="card-columns mb-5">

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_01.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_01.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_07.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_07.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_08.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_08.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_04.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_04.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_06.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_06.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_10.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_10.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_03.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_03.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_05.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_05.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_09.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_09.jpg" class="hover-shadow">
  </div>

  <div class="card" style="border:0" data-toggle="modal" data-target="#exampleModal"
    data-img="{{ site.baseurl }}/assets/img/foto_02.jpg">
    <img width="100%" src="{{ site.baseurl }}/assets/img/foto_02.jpg" class="hover-shadow">
  </div>

</div>

<div class="modal fade" id="exampleModal" tabindex='-1'>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content rounded-0">
      <div class="modal-body" style="padding:.5rem">
        <img class="modal-img w-100" />
      </div>
    </div>
  </div>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#exampleModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var img = button.data('img')
      var modal = $(this)
      modal.find('.modal-img').attr('src', img)
    })
  })
</script>

<h3 class="fw-bold border-bottom pb-3 mb-3">Music</h3>
<div class="row g-5 mb-5">
  <div class="col-sm-8">
    Inspired by the music of Olivier Messiaen, in 2019 I began learning to play the keyboard by myself. Since then
    I've been playing Hauptwerk digital organ on a minimal hardware setup with software aids (MIDI triggering,
    stochastic reverberation model, etc.). Before that I sang the bass part in Tongji University Choir.

    <div class="worktitle" style="margin-top:1rem">
      Selected Recordings:
    </div>

    <div class="papertitle" style="margin-top:1rem">
      Livre du Saint-Sacrement: XI. L'apparition du Christ ressuscité à Marie-Madeleine (excerpt)
    </div>
    <p style="margin-bottom:.5rem">
      Composer: Olivier MESSIAEN<br>
      Instrument: Eisenbarth, Friesach
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Le Livre du Saint-Sacrement - XI.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <div class="papertitle" style="margin-top:1rem">
      Le Jardin suspendu
    </div>
    <p style="margin-bottom:.5rem">
      Composer: Jehan ALAIN<br>
      Instrument: Eisenbarth, Friesach
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Le Jardin suspendu.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    
    <div class="papertitle" style="margin-top:1rem">
      Improvisation
    </div>
    <p style="margin-bottom:.5rem">
      Instrument: Mascioni, Alessandria
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Improvisation.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <div class="papertitle" style="margin-top:1rem">
      Méditations sur le Mystère de la Sainte Trinité: VIII. Dieu est simple
    </div>
    <p style="margin-bottom:.5rem">
      Composer: Olivier MESSIAEN<br>
      Instrument: Eisenbarth, Friesach
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Méditations sur le Mystère de la Sainte Trinité - VIII.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <div class="papertitle" style="margin-top:1rem">
      Berceuse sur deux notes qui cornent
    </div>
    <p style="margin-bottom:.5rem">
      Composer: Jehan ALAIN<br>
      Instrument: Mascioni, Alessandria
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Berceuse sur deux notes qui cornent.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>

    <div class="papertitle" style="margin-top:1rem">
      Suite from The Grand Budapest Hotel
    </div>
    <p style="margin-bottom:.5rem">
      Composer: Alexandre DESPLAT<br>
      Instrument: Eisenbarth, Friesach<br>
      My own transcription. This is not entirely a live recording (extensive MIDI editing used).
    </p>
    <audio controls="" style="width:500px;max-width:100%">
      <source src="{{ site.baseurl }}/assets/audio/Suite from The Grand Budapest Hotel.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    
  </div>
  <div class="col-sm-4">
    <img src="{{ site.baseurl }}/assets/img/music.jpg" alt="" width="100%">
  </div>
</div>
